WebGIS/WebGIS/Service References/RealtimeDataServer/WCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9043/RealtimeData/WCFService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:9043/RealtimeData/WCFService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RealtimeDataService" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="syskey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOnlineCarsResult" nillable="true" type="q1:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="syskey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="carid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RealtimeDataService" minOccurs="0" name="GetCarDataResult" nillable="true" type="q2:CarRealData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="syskey" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="carids" nillable="true" type="q3:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RealtimeDataService" minOccurs="0" name="GetCarsDataResult" nillable="true" type="q4:ArrayOfCarRealData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarTransData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="syskey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="carid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarTransDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RealtimeDataService" minOccurs="0" name="GetCarTransDataResult" nillable="true" type="q5:CarTransmissionProtocolInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>