WebGIS/WebGIS/Service References/RealtimeDataServer/WCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RealtimeDataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RealtimeDataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9043/RealtimeData/WCFService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CarRealData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alarm" type="xs:long" />
      <xs:element minOccurs="0" name="Alarm808" type="xs:long" />
      <xs:element minOccurs="0" name="AlarmExt808" type="xs:long" />
      <xs:element minOccurs="0" name="AlarmStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AltitudeMeters" type="xs:int" />
      <xs:element minOccurs="0" name="CarNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Carid" type="xs:long" />
      <xs:element minOccurs="0" name="Heading" type="xs:int" />
      <xs:element minOccurs="0" name="HeadingStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lati" type="xs:double" />
      <xs:element minOccurs="0" name="Long" type="xs:double" />
      <xs:element minOccurs="0" name="OnlineStatus" type="xs:int" />
      <xs:element minOccurs="0" name="OnlineStatusStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" type="xs:float" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="Status808" type="xs:long" />
      <xs:element minOccurs="0" name="StatusExt808" type="xs:long" />
      <xs:element minOccurs="0" name="StatusStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SumMiles" type="xs:int" />
      <xs:element minOccurs="0" name="TDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TNO" type="xs:long" />
      <xs:element minOccurs="0" name="sPositionAdditionalInfo" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarRealData" nillable="true" type="tns:CarRealData" />
  <xs:complexType name="ArrayOfCarRealData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarRealData" nillable="true" type="tns:CarRealData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarRealData" nillable="true" type="tns:ArrayOfCarRealData" />
  <xs:complexType name="CarTransmissionProtocolInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TransData" nillable="true" type="q1:ArrayOfKeyValueOfintbase64Binary" />
      <xs:element minOccurs="0" name="cid" type="xs:long" />
      <xs:element minOccurs="0" name="tno" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarTransmissionProtocolInfo" nillable="true" type="tns:CarTransmissionProtocolInfo" />
</xs:schema>