WebGIS/WebGIS/Service References/RealtimeDataServer/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9043/RealtimeData/WCFService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9043/RealtimeData/WCFService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9043/RealtimeData/WCFService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:9043/RealtimeData/WCFService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RealtimeDataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetOnlineCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineCars" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetOnlineCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetCarData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarData" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetCarData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetCarsData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsData" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetCarsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetCarTransData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarTransData" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetCarTransData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarTransDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/DoWork" message="tns:IWCFService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/DoWorkResponse" message="tns:IWCFService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetOnlineCars" message="tns:IWCFService_GetOnlineCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetOnlineCarsResponse" message="tns:IWCFService_GetOnlineCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetCarData" message="tns:IWCFService_GetCarData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetCarDataResponse" message="tns:IWCFService_GetCarData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetCarsData" message="tns:IWCFService_GetCarsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetCarsDataResponse" message="tns:IWCFService_GetCarsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarTransData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetCarTransData" message="tns:IWCFService_GetCarTransData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetCarTransDataResponse" message="tns:IWCFService_GetCarTransData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RealtimeData" type="tns:IWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IWCFService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineCars">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetOnlineCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarData">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetCarData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsData">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetCarsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarTransData">
      <soap:operation soapAction="http://tempuri.org/IWCFService/GetCarTransData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="RealtimeData" binding="tns:RealtimeData">
      <soap:address location="http://localhost:9043/RealtimeData/WCFService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>