WebGIS/WebGIS/Web References/GlobalSessionService/GSSWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sm" type="tns:SessionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SessionModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="uid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rid" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="group" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="aids" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="logintime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="lastoper" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="lastopersid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cars">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="webserverflag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sysflag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="onecaruser" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SyncSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="SyncSessions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="tns:ArrayOfSessionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSessionModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SessionModel" nillable="true" type="tns:SessionModel" />
        </s:sequence>
      </s:complexType>
      <s:element name="SyncSessionsResponse">
        <s:complexType />
      </s:element>
      <s:element name="CloseSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webflag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webflag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSessionResult" type="tns:SessionModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="webserverflag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsActiveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOnlineCount">
        <s:complexType />
      </s:element>
      <s:element name="GetAllOnlineCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllOnlineCountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="SyncSessionSoapIn">
    <wsdl:part name="parameters" element="tns:SyncSession" />
  </wsdl:message>
  <wsdl:message name="SyncSessionSoapOut">
    <wsdl:part name="parameters" element="tns:SyncSessionResponse" />
  </wsdl:message>
  <wsdl:message name="SyncSessionsSoapIn">
    <wsdl:part name="parameters" element="tns:SyncSessions" />
  </wsdl:message>
  <wsdl:message name="SyncSessionsSoapOut">
    <wsdl:part name="parameters" element="tns:SyncSessionsResponse" />
  </wsdl:message>
  <wsdl:message name="CloseSessionSoapIn">
    <wsdl:part name="parameters" element="tns:CloseSession" />
  </wsdl:message>
  <wsdl:message name="CloseSessionSoapOut">
    <wsdl:part name="parameters" element="tns:CloseSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetSession" />
  </wsdl:message>
  <wsdl:message name="GetSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IsActiveSoapIn">
    <wsdl:part name="parameters" element="tns:IsActive" />
  </wsdl:message>
  <wsdl:message name="IsActiveSoapOut">
    <wsdl:part name="parameters" element="tns:IsActiveResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllOnlineCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOnlineCount" />
  </wsdl:message>
  <wsdl:message name="GetAllOnlineCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOnlineCountResponse" />
  </wsdl:message>
  <wsdl:portType name="GSSWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncSession">
      <wsdl:input message="tns:SyncSessionSoapIn" />
      <wsdl:output message="tns:SyncSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncSessions">
      <wsdl:input message="tns:SyncSessionsSoapIn" />
      <wsdl:output message="tns:SyncSessionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseSession">
      <wsdl:input message="tns:CloseSessionSoapIn" />
      <wsdl:output message="tns:CloseSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSession">
      <wsdl:input message="tns:GetSessionSoapIn" />
      <wsdl:output message="tns:GetSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsActive">
      <wsdl:input message="tns:IsActiveSoapIn" />
      <wsdl:output message="tns:IsActiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOnlineCount">
      <wsdl:input message="tns:GetAllOnlineCountSoapIn" />
      <wsdl:output message="tns:GetAllOnlineCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GSSWebServiceSoap" type="tns:GSSWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncSession">
      <soap:operation soapAction="http://tempuri.org/SyncSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncSessions">
      <soap:operation soapAction="http://tempuri.org/SyncSessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseSession">
      <soap:operation soapAction="http://tempuri.org/CloseSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSession">
      <soap:operation soapAction="http://tempuri.org/GetSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsActive">
      <soap:operation soapAction="http://tempuri.org/IsActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOnlineCount">
      <soap:operation soapAction="http://tempuri.org/GetAllOnlineCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GSSWebServiceSoap12" type="tns:GSSWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncSession">
      <soap12:operation soapAction="http://tempuri.org/SyncSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncSessions">
      <soap12:operation soapAction="http://tempuri.org/SyncSessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseSession">
      <soap12:operation soapAction="http://tempuri.org/CloseSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSession">
      <soap12:operation soapAction="http://tempuri.org/GetSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsActive">
      <soap12:operation soapAction="http://tempuri.org/IsActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOnlineCount">
      <soap12:operation soapAction="http://tempuri.org/GetAllOnlineCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GSSWebService">
    <wsdl:port name="GSSWebServiceSoap" binding="tns:GSSWebServiceSoap">
      <soap:address location="http://localhost:9001/GSSWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GSSWebServiceSoap12" binding="tns:GSSWebServiceSoap12">
      <soap12:address location="http://localhost:9001/GSSWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>